#b{
  background-color: whitesmoke;
}

#nav1{
  background-color: lightgrey;
  margin-top: 10px;
}

#div1{
  margin-top: 20px;
}

#n1, #n2, #n3 {
  color: black;
}

#c{
  background-color: grey;
  color : white;
  height: 600px;
}

#c2{
  background-color: grey;
  color: white;
  height: 700px;
}

#ci{
  margin-top: 10px;
}

#texte{
  float: right;
  margin-top : 20px; 
  margin-right : ;
  background-color: grey;
}

#b1 {
  float: right;
  margin-top: 100px;
  margin-right: 20px;
}

#b2{
  float: right;
  margin-top: 100px;
  margin-right:20px;
}

#fo{
  margin-top: 20px;
}
